In [2]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 8.3 MB/s eta 0:00:01
Requirement already satisfied: packaging in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (21.3)
Collecting shapely>=1.7
  Downloading shapely-2.0.1-cp38-cp38-macosx_10_9_x86_64.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 17.8 MB/s eta 0:00:01
Requirement already satisfied: pandas>=1.0.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.3.4)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp38-cp38-macosx_10_9_x86_64.whl (8.4 MB)
     |████████████████████████████████| 8.4 MB 12.0 MB/s eta 0:00:01
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp38-cp38-macosx_10_10_x86_64.whl (26.5 MB)
     |████████████████████████████████| 26.5 MB 19.8 MB/s eta 0:00:01
Requirement already satisfied: click-plugins>=1.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: certifi in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: setuptools in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (59.5.0)
Collecting munch
  Using cached munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: click>=4.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (20.3.0)
Collecting cligj>=0.5
  Using cached cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: pytz>=2017.3 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.0->geopandas) (2019.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.0->geopandas) (2.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from packaging->geopandas) (2.4.7)
Installing collected packages: munch, cligj, shapely, pyproj, fiona, geopandas
Successfully installed cligj-0.7.2 fiona-1.8.22 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1 shapely-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 6.5 MB/s eta 0:00:01
Requirement already satisfied: jinja2>=2.11.1 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from sweetviz) (3.1.1)
Requirement already satisfied: tqdm>=4.43.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from sweetviz) (4.59.0)
Requirement already satisfied: importlib-resources>=1.2.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from sweetviz) (5.4.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from sweetviz) (1.3.4)
Requirement already satisfied: scipy>=1.3.2 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from sweetviz) (1.9.3)
Requirement already satisfied: numpy>=1.16.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from sweetviz) (1.22.4)
Requirement already satisfied: matplotlib>=3.1.3 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from sweetviz) (3.4.3)
Requirement already satisfied: zipp>=3.1.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from importlib-resources>=1.2.0->sweetviz) (3.4.1)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: six in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Users/augustin/opt/anaconda3/lib/python3.8/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2019.3)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.4
Note: you may need to restart the kernel to use updated packages.

In [10]:
# useful packages
import pandas as pd
import geopandas as gpd
import numpy as np
import os

# EDA
import sweetviz as sv

In [12]:
lexique_variables = pd.read_csv('data_right_price/lexique_variables.csv', sep=';', index_col="Position", )

In [13]:
lexique_variables

,Table,Nom,Description
Position,,,
1,mutation,idmutation,identifiant de clef primaire de la table mutation
2,mutation,idmutinvar,identifiant invariant de la mutation
3,mutation,idopendata,identifiant de mutation
4,mutation,idnatmut,identifiant de clef primaire de la table ann_n...
5,mutation,codservch,code du service de conservation des hypothèques
...,...,...,...
57,mutation,smai3pp,surface de l'ensemble des maisons avec 3 pièce...
58,mutation,smai4pp,surface de l'ensemble des maisons avec 4 pièce...
59,mutation,smai5pp,surface de l'ensemble des maisons avec au moin...
60,mutation,latitude,latitude de la mutation
61,mutation,longitude,longitude de la mutation

In [41]:
tables_dict = {} 
for i in ['75', '77', '78', '91', '92', '93', '94', '95']:
    tables_dict[f'd_{i}'] = pd.read_csv(f'data_right_price/Data localisée/mutations_d{i}_train_localized.csv')

In [42]:
tables_dict[f'd_75']['Dept'] = 75
tables_dict[f'd_77']['Dept'] = 77
tables_dict[f'd_78']['Dept'] = 78
tables_dict[f'd_91']['Dept'] = 91
tables_dict[f'd_92']['Dept'] = 92
tables_dict[f'd_93']['Dept'] = 93
tables_dict[f'd_94']['Dept'] = 94
tables_dict[f'd_95']['Dept'] = 95

In [43]:
IDF = pd.concat([tables_dict['d_75'], tables_dict['d_77'], tables_dict['d_78'], tables_dict['d_91'], tables_dict['d_92'], tables_dict['d_93'], tables_dict['d_94'], tables_dict['d_95']])
IDF.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [45]:
IDF.tail()

,idmutation,idmutinvar,idopendata,idnatmut,codservch,refdoc,datemut,anneemut,moismut,coddep,...,smai1pp,smai2pp,smai3pp,smai4pp,smai5pp,codtypbien,libtypbien,latitude,longitude,Dept
127374,8650226.0,4f7be20ed59b938220b003b40a91e18d,4f7be20ed59b938220b003b40a91e18d,1.0,NaN,NaN,2018-05-02,2018.0,5.0,95.0,...,0.0,0.0,0.0,0.0,0.0,229.0,TERRAIN ARTIFICIALISE MIXTE,48.988613,2.446155,95
127375,8534218.0,9e943300f649d2949bdad0a3c53971c4,9e943300f649d2949bdad0a3c53971c4,1.0,NaN,NaN,2020-03-04,2020.0,3.0,95.0,...,0.0,0.0,0.0,0.0,140.0,111.0,UNE MAISON,48.996113,2.157786,95
127376,8829533.0,f23be79a1e3b8dd5c7073828e92952f2,f23be79a1e3b8dd5c7073828e92952f2,1.0,NaN,NaN,2015-03-09,2015.0,3.0,95.0,...,0.0,0.0,0.0,0.0,80.0,111.0,UNE MAISON,49.006953,2.202177,95
127377,8830339.0,380ed8919d17bdfd4ca22ba8aaf34498,380ed8919d17bdfd4ca22ba8aaf34498,1.0,NaN,NaN,2015-01-30,2015.0,1.0,95.0,...,0.0,0.0,0.0,0.0,0.0,121.0,UN APPARTEMENT,48.969885,2.295289,95
127378,8666786.0,017a1d7719cb4d02bcbdde933b695c80,017a1d7719cb4d02bcbdde933b695c80,1.0,NaN,NaN,2018-07-30,2018.0,7.0,95.0,...,0.0,0.0,0.0,92.0,0.0,111.0,UNE MAISON,48.997156,2.259248,95

In [46]:
IDF.to_csv('data_right_price/Data localisée/mutations_IDF_train_localized.csv')

In [47]:
my_report = sv.analyze(IDF)
my_report.show_html()

                                             |                                                                …

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [50]:
IDF.dropna(axis=1, how="all", inplace=True)

In [68]:
IDF.datemut = pd.to_datetime(IDF.datemut)
IDF['day'] = IDF.datemut.dt.day
IDF['weekday'] = IDF.datemut.dt.weekday
IDF['month'] = IDF.datemut.dt.month
IDF['year'] = IDF.datemut.dt.year
IDF.drop(['datemut', 'anneemut', 'moismut', 'coddep', 'vefa'], axis=1, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'datemut'

In [80]:
int('75102')

75102

In [66]:
IDF.head()

,idmutation,idmutinvar,idopendata,idnatmut,anneemut,moismut,coddep,libnatmut,vefa,valeurfonc,...,smai5pp,codtypbien,libtypbien,latitude,longitude,Dept,day,weekday,month,year
0,6539278.0,9b7b4d9b9700ca770f3f498b5d69eaf3,9b7b4d9b9700ca770f3f498b5d69eaf3,1.0,2018.0,4.0,75.0,Vente,False,650340.0,...,0.0,121.0,UN APPARTEMENT,48.868229,2.347402,75,6,4,4,2018
1,6660956.0,3c49a78206ac11f9695bad48967f898e,3c49a78206ac11f9695bad48967f898e,1.0,2017.0,7.0,75.0,Vente,False,380000.0,...,0.0,121.0,UN APPARTEMENT,48.866863,2.374773,75,6,3,7,2017
2,6374603.0,43db5a7809b243060479e1bca9def379,43db5a7809b243060479e1bca9def379,1.0,2019.0,7.0,75.0,Vente,False,105000.0,...,0.0,131.0,UNE DEPENDANCE,48.866879,2.369324,75,18,3,7,2019
3,6393753.0,7bba166c612dfbd6c0694a2ab3209bab,7bba166c612dfbd6c0694a2ab3209bab,1.0,2019.0,5.0,75.0,Vente,False,415000.0,...,0.0,14.0,ACTIVITE,48.856434,2.357901,75,16,3,5,2019
4,7090098.0,24b9ace5aaea518ba15bd43c0ffc6141,24b9ace5aaea518ba15bd43c0ffc6141,1.0,2014.0,5.0,75.0,Vente,False,90000.0,...,0.0,131.0,UNE DEPENDANCE,48.873301,2.303682,75,14,2,5,2014

In [70]:
IDF.columns

Index(['idmutation', 'idmutinvar', 'idopendata', 'idnatmut', 'libnatmut',
       'vefa', 'valeurfonc', 'nbdispo', 'nblot', 'nbcomm', 'l_codinsee',
       'nbsection', 'l_section', 'nbpar', 'l_idpar', 'nbparmut', 'l_idparmut',
       'nbsuf', 'sterr', 'nbvolmut', 'nblocmut', 'l_idlocmut', 'nblocmai',
       'nblocapt', 'nblocdep', 'nblocact', 'nbapt1pp', 'nbapt2pp', 'nbapt3pp',
       'nbapt4pp', 'nbapt5pp', 'nbmai1pp', 'nbmai2pp', 'nbmai3pp', 'nbmai4pp',
       'nbmai5pp', 'sbati', 'sbatmai', 'sbatapt', 'sbatact', 'sapt1pp',
       'sapt2pp', 'sapt3pp', 'sapt4pp', 'sapt5pp', 'smai1pp', 'smai2pp',
       'smai3pp', 'smai4pp', 'smai5pp', 'codtypbien', 'libtypbien', 'latitude',
       'longitude', 'Dept', 'day', 'weekday', 'month', 'year'],
      dtype='object')